{% extends 'base.html.twig' %}

{% block title %}Quiz {{ categorie.name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# <p class="text-secondary">{{ categorie.name }}</p>
    <h1>{{ question.question }}</h1>
    <br>
    
    {% for i in 0..2 %}
        {% if i == 0 %}
            <input type="radio" name="answer" id="{{ i }}" checked> <label for="{{ i }}" >{{ answers[i].reponse }}</label><br>
        {% else %}
            <input type="radio" name="answer" id="{{ i }}"> <label for="{{ i }}" >{{ answers[i].reponse }}</label><br>
        {% endif %}
    {% endfor %}

    <a type="button" class="btn btn-success float-right" href="">Submit Answer</a> #}

    {{ form(form) }}
</div>
{% endblock %}
